services:
  # Backend API service (Spring boot)
  backend:
    build:
      context: .
      dockerfile: be.Dockerfile
    container_name: MadeByMe-backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env.docker
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-network

  # Frontend service (Next.js)
  frontend:
    build:
      context: .
      dockerfile: fe.Dockerfile
    container_name: MadeByMe-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge