name: Production deployment

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  prod-build:
    uses: ./.github/workflows/build-workflow.yml
    secrets:
      GCP_KEY: ${{ secrets.GCP_KEY_PROD }}
      GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID_PROD }}

  prod-deploy:
    needs: prod-build
    uses: ./.github/workflows/deploy-workflow.yml
    secrets: inherit
    with:
      VERSION: ${{ github.ref_name }}
      ENVIRONMENT: prod
